<?xml version="1.0" encoding="utf-8"?>
<!-- Author: James Luo -->
<!-- Last Modified: 12/9/2014 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathproblemconstructor"
    android:versionCode="1"
    android:versionName="1.0" >
    <supports-screens
        android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="false"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="720" />
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Math"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_math"
            android:parentActivityName="com.mathproblemconstructor.Menu"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mathproblemconstructor.Menu" />
        </activity>
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result"
            android:parentActivityName="com.mathproblemconstructor.Menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mathproblemconstructor.Menu" />
        </activity>
    </application>
</manifest>